---
const { image, flight, price, link } = Astro.props;
---
<div class="flight-card">
  <img src={image} alt={flight} />
  <div class="flight-details">
    <h2>{flight}</h2>
    <p>Desde {price}</p>
    <a href={link} class="btn-secondary">Ver Vuelo</a>
  </div>
</div>
