---
const { image, title, discount, link } = Astro.props;
---
<div class="offer-card">
  <img src={image} alt={title} />
  <div class="offer-details">
    <h2>{title}</h2>
    <p>Descuento: {discount}</p>
    <a href={link} class="btn-primary">Ver Oferta</a>
  </div>
</div>
